/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Sans:wght@700&family=Lora:wght@700&display=swap');*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lora', serif;
}
:root{
    --main-color: #525252; 
    --second-color:#ffffff;
    --third-color: rgb(88, 146, 146);
}
section{
    padding: 50px 10%;
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%); 
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar a:hover {
    color: var(--third-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #666666;
    gap: 1rem;
}
.home-img {
    width: 1000px;
    -webkit-box-reflect: left 2px linear-gradient(to left, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
.home-text span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #969696;
}
.home-text h1{
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Josefin Sans';
    margin: 1.5rem 0 0;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 1000;
    font-weight: bolder;
    color: var(--second-color);
}
.home-text h2{
    font-size: 2.5rem;
    margin: 0 0 2rem;
    text-transform: none;
    font-weight: 500;
    color: var(--second-color);
}
.btn {
    padding: 7px 16px;
    font-size: 1.5rem;
    color: #000000;
    border: 2px solid;
    border-width: 2;
    border-radius: 100%;
    font-weight: 500;
}
.btn:hover {
    color: aliceblue;
    background: var(--main-color);
}
.heading {
    text-align: left;
    text-transform: uppercase;
    margin-top: 5em;
}
.heading span {
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Josefin Sans';
    margin: 1.5rem 0 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-weight: bolder;
    color: var(--second-color);
}
.heading h1{
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Josefin Sans';
    margin-right: 30em;
    font-size: 1em;
    font-weight: 500;
    color: var(--second-color);
    margin-top: -13em;
}
.heading-text h2{
    color: var(--second-color);
}
.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.shop-container .box {
    flex: 1 1 10rem;
    background: #ffd2bc;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 1rem;
}
.salad-container .box .box-img {
    width: 250px;
    height: 250px;
    margin-top: -100;
}
.shakes-container .box h2{
    color: #080e0c;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem;
}
.shakes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.shakes-container .boxes {
    flex: 1 1 10rem;
    background: #ffd2bc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budol1-img{
    width: 1000px;
    height: 200px;
    margin-top: 5em;
    float: right;
}
.banner{
    width: 100%;
    height: 150vh;
    background-image: url(Black\ Gradient\ 3.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
}
.bodies h1{
    font-family: 'Josefin Sans';
    margin-right: 30em;
    font-size: 20px;
    font-weight: 500;
    color: var(--second-color);
    
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}